<ul class="country-info-list">
    <li class="country-info-item">
        <img src="{{flags.svg}}" alt="name" width="24" height="24" />
        <p class="found-country" >{{name}}</p>
    </li>
    <li class="country-info-item">
        <p class="country-info-text" >Capital:  <spam class="country-info-spam">{{capital}}</spam>
        </p>
    </li>
    <li class="country-info-item">
        <p class="country-info-text" >Population:  <spam class="country-info-spam">{{population}}</spam>
        </p>
    </li>
    <li class="country-info-item">
        <p class="country-info-text" >Languages: {{#each languages}}
        <spam class="country-info-spam lang">{{nativeName}}</spam>
        {{/each}}
        </p>
    </li>
</ul>

